@import "../../../mycolors.scss";

.contact {
  margin-top: 48px;
  padding: 3rem 2rem;
  background-color: $tint;

  h2 {
    padding: 12px;
  }
  .input {
    border-radius: 0px;
    border-color: $donker;
    &.ng-pristine {
      font-style: italic;
    }
  }
  .textarea {
    border-radius: 0px;
    border-color: $donker;
    &.ng-pristine {
      font-style: italic;
    }
  }
  .label {
    font-weight: 400;
  }
  .form {
    padding: 8px;
  }
  .err {
    border-color: red;
  }
  .formwrapper {
    max-width: 652px;
    margin-left: auto;
  }
  .submit {
    background-color: $accent;
  }
  .submit.disabled {
    cursor: not-allowed;
  }
}
