<div class="contact" id="contact">
  <div class="formwrapper">
    <h2 innerHtml="{{ 'contact.heading' | translate }}"></h2>
    <p innerHtml="{{ 'contact.phone' | translate }}"></p>
    <p innerHtml="{{ 'contact.desc' | translate }}"></p>

    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="field formGroup">
        <div class="control">
          <label>
            <input type="text" [ngClass]="{ 'err': form.controls.name.errors && form.controls.name.value }"
              placeholder="{{ 'contact.name' | translate }}" formControlName="name" class="form-control input">
          </label>
        </div>
      </div>

      <div class="field formGroup">
        <div class="control">
          <label>
            <input type="email" [ngClass]="{ 'err': form.controls.email.errors && form.controls.email.value }"
              placeholder="{{ 'contact.email' | translate }}" formControlName="email" class="form-control input">
          </label>
        </div>
      </div>

      <div class="field formGroup">
        <div class="control">
          <label>
            <input type="telnr" [ngClass]="{ 'err': form.controls.telnr.errors && form.controls.telnr.value }"
              placeholder="{{ 'contact.telnr' | translate }}" formControlName="telnr" class="form-control input">
          </label>
        </div>
      </div>

      <div class="field form-group">
        <div class="control">
          <label>
            <textarea [ngClass]="{ 'err': form.controls.message.errors && form.controls.message.value }"
              placeholder="{{ 'contact.message'| translate }}" rows="3" formControlName="message"
              class="textarea"></textarea>
          </label>
        </div>
      </div>

      <div class="field form-group">
        <div class="control">
          <button type="submit" [disabled]="form.invalid"
            class="button is-link submit">{{ 'contact.submit' | translate }}</button>
        </div>
      </div>

      <div *ngIf="thanks" class="field form-group">
        <label class="label submit">{{ 'contact.thanks' | translate }}</label>
      </div>
    </form>

  </div>
</div>