<mat-card>
  <mat-card-header>
    <mat-card-title><a [routerLink]="_link" [href]="href">{{_title}}</a></mat-card-title>
    <mat-card-subtitle>{{date}}</mat-card-subtitle>
  </mat-card-header>
  <div class="imgwrapper" [style.background]="_img"></div>
  <mat-card-content [innerHTML]="excerpt"></mat-card-content>
  <mat-card-actions align="start">
    <a class="button is-link" mat-button [routerLink]="_link" [title]="href" [href]="href">View</a>
    <app-sharing [href]='href' [title]='_title'></app-sharing>
  </mat-card-actions>
</mat-card>