@import "../../../mycolors.scss";

.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

.imgwrapper {
  width: 100%;
  height: 200px;
  background-size: cover !important;
}

.is-link {
  background-color: $contrast !important;
}