@import "../../../mycolors.scss";

.footerwrapper {
  background-color: $shade;
  color: $licht;
  min-height: 128px;
  text-align: center;
  vertical-align: middle;
  .Ficon {
    overflow: visible;
    display: inline-block;
  }
  .fi3 {
    height: 3rem;
    padding: 8px;
  }
  .fi1 {
    height: 1rem;
  }
  .footerinfo {
    display: inline-block;
    margin: auto;
    padding: 12px;
    display: grid;
    align-items: stretch;
    grid-template-columns: 1fr minmax(160px, 400px) minmax(160px, 400px) 1fr;
    grid-template-areas:
      ". left right ."
      ". bottom bottom .";
  }
  .left {
    grid-area: left;
  }
  .right {
    grid-area: right;
    text-align: left;
  }
  .bottom {
    grid-area: bottom;
  }
  a {
    color: white;
  }
  a:hover {
    color: $accent;
  }
  p {
    padding: 0;
  }
}
