<nav class="navbar is-fixed-top bg" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="true" data-target="navbarMenu"
      (click)="toggle=!toggle" [ngClass]="{'is-active':toggle}">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
    <a class="navbar-item" (click)="toggle=false" pageScroll routerLink="main" href="#top">
      <img src="./assets/logos/logo.png" class="logo" alt="logo">
    </a>
    <a class="navbar-item shiftleft" (click)="toggle=false" pageScroll routerLink="about" href="#about">
      <span class="aligning">{{ 'title.name' | translate }}</span>
    </a>
  </div>

  <div id="navbarMenu" class="navbar-menu" [ngClass]="{'is-active':toggle}">
    <div class="navbar-end">
      <a class="navbar-item" (click)="toggle=false" pageScroll [routerLink]="['main']" href="#top">
        <i class="material-icons">home</i>
      </a>
      <a class="navbar-item" (click)="toggle=false" pageScroll [routerLink]="['main']"
        href="#methode">{{ 'nav.method' | translate }}</a>
      <a class="navbar-item" (click)="toggle=false" pageScroll routerLink="blog"
        href="#blog">{{ 'nav.blogs' | translate }}</a>

      <div class="dropdown is-hoverable navbar-item" (click)="toggle=false" routerLink="about" href="#about">
        <div class="dropdown-trigger">
          <a class="navbar-link">{{ 'nav.about' | translate }}</a>
        </div>
        <div class="dropdown-menu">
          <div class="dropdown-content">
            <a class="navbar-item" (click)="toggle=false" pageScroll routerLink="about" href="#about"
              fragment="about">{{ 'about.it2benefit' | translate }}</a>
            <a class="navbar-item" (click)="toggle=false" pageScroll routerLink="about" href="#oprichters"
              fragment="oprichters">{{ 'about.oprichters' | translate }}</a>
          </div>
        </div>
      </div>

      <a class="navbar-item" (click)="toggle=false" pageScroll [routerLink]="['main']"
        href="#contact">{{ 'nav.contact' | translate }}</a>
      <app-language (langChange)="onToggle($event)" class="navbar-item"></app-language>
    </div>
  </div>
</nav>