@import "../../../mycolors.scss";

.shiftleft {
  margin-left: -1.5rem;
}
.navbar-burger {
  margin-left: 0;
  margin-right: -0.6rem;
  margin-top: 0.4rem;
  z-index: 100;
}
.navbarwrapper {
  max-width: 1280px;
  margin: auto;
}
.navbar-item {
  color: $donker;
  padding: 1.2rem 1rem 1.2rem 1rem;
  font-weight: 700;
  font-size: 1.1rem;
  right: 0;
}
.hideDropdown {
  display: none;
}
.bg {
  background-color: #eee;
}
.logo {
  margin: -1.6rem 0.8rem -1rem 1rem;
  max-height: 2.8rem !important;
}
.aligning {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
app-language.navbar-item {
  margin: 0;
  padding: 0;
}
@media (max-width: 599px) {
  .logo {
    margin: -0.75rem 2rem -0.3rem -1rem;
    width: 4.3rem;
    height: 2rem;
  }
  .aligning {
    margin-left: -2rem;
    font-size: 0.83rem;
  }
  .navbar-item {
    padding: 0 0 0 2rem;
  }
}
