@import "../../../mycolors.scss";

#hero {
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: grid;
  align-items: stretch;
  vertical-align: middle;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  * {
    color: white;
  }
  .herofooter {
    grid-column: 1 / span 2;
    line-height: 90%;
    font-size: 120%;
  }
  .inner {
    vertical-align: middle;
    height: 3rem;
    margin-top: -0.6rem;
  }
  .name {
    // color: lighten($accent,15%);
    color: $accent;
    font-weight: 700;
  }
  .nameimg{
    height: 4.4rem;
    vertical-align: top;
    margin-top: -0.5rem;
  }
  .dark {
    color: $donker;
  }
  h1 {
    padding: 4vh 2vw 4vh 5vw;
    margin: auto;
  }
  article  {
    font-size: 1.6rem;
    font-weight: 200;
    padding: 4vh 5vw;
    margin: auto;
  } 
}
@media (max-width: 599px) {
  article { padding-top: 0 !important; }
  h1 {font-size: 2.4rem; line-height: 2.2rem; }
  .herofooter {
    grid-column: 1 / 1 !important;
  }
}
