<section id="hero" class="bg3">
  <h1><b><span class="name">IT2Benefit</span></b> {{ "hero.title" | translate }}</h1>
  <article class="title" innerHtml='{{ "hero.article" | translate}}'>
  </article>
  <div class="info herofooter" innerHtml='
    {{ "hero.sub1" | translate }} <a pageScroll href="#contact">{{ "nav.contact" | translate}}</a>
    {{ "hero.sub2" | translate }} <a target="_new" href="https://www.survio.com/survey/d/cloud-transitie">Online Survey</a>
    {{ "hero.sub3" | translate }}'>
  </div>
</section>