<a (click)="setLang('nl')" class="navbar-item" [ngClass]="{ 'langSel': trans.currentLang==='nl' }"><img src='./assets/i18n/nl.png' alt="nederlands"></a>
<a (click)="setLang('en')" class="navbar-item" [ngClass]="{ 'langSel': trans.currentLang==='en' }"><img src='./assets/i18n/en.png' alt="english"></a>