@import "../../../mycolors.scss";

.methodwrapper {
  padding-top: 64px;
}
article {
  max-width: 960px;
  margin: auto;
  margin-bottom: 24px;
}
.info {
  padding-top: 24px; 
}
td img {
  width: 4rem;
  background-color: $accent;
  padding: 8px;
}
td {
  padding: 0.3rem;
}
table {
  border-spacing: 0.5rem;
}

@media (max-width: 959px) {
  .methode {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-template-rows: auto;
    grid-gap: 24px;
    align-content: stretch;
  }
  td img {
    padding: 1px;
    width:10rem;
  }
}
