<div class="methodwrapper">
  <h2 innerHtml="{{ 'method.title' | translate}}"></h2>
  <article innerHtml="{{ 'method.desc' | translate }}"></article>
  <div class="methode">
    <app-info headline="{{ 'proposition.title' | translate }}"
      [img2]="'./assets/flow-' + trans.currentLang + '.png'">
      <p innerHtml="{{ 'proposition.subtitle' | translate }}"></p>
      <p innerHtml="{{ 'proposition.desc' | translate }}"></p>
      <ol>
          <li innerHtml="{{ 'proposition.lines.1' | translate }}"></li>
          <li innerHtml="{{ 'proposition.lines.2' | translate }}"></li>
          <li innerHtml="{{ 'proposition.lines.3' | translate }}"></li>
          <li innerHtml="{{ 'proposition.lines.4' | translate }}"></li>
      </ol>
    </app-info>
    <app-info even=true headline="{{ 'creation.title' | translate}}" 
      [img2]="'./assets/meerwaarde-' + trans.currentLang + '.png'">
      <p innerHtml="{{ 'creation.desc' | translate }}"></p>
      <table>
        <tr>
          <td><img src='./assets/icons/goals-w.png' alt="goals"></td>
          <td innerHtml="{{ 'creation.line1' | translate }}"></td>
        </tr>
        <tr>
          <td><img src='./assets/icons/vision-w.png' alt="vision"></td>
          <td innerHtml="{{ 'creation.line2' | translate }}"></td>
        </tr>
        <tr>
          <td><img src='./assets/icons/definition-w.png' alt="definition"></td>
          <td innerHtml="{{ 'creation.line3' | translate }}"></td>
        </tr>
        <tr>
          <td><img src='./assets/icons/strategy-w.png' alt="strategy"></td>
          <td innerHtml="{{ 'creation.line4' | translate }}"></td>
        </tr>
        <tr>
          <td><img src='./assets/icons/projects-w.png' alt="projects"></td>
          <td innerHtml="{{ 'creation.line5' | translate }}"></td>
        </tr>
        <!-- <tr>
          <td><img src='./assets/icons/capabilities-w.png' alt="capabilities"></td>
          <td innerHtml="{{ 'creation.line6' | translate }}"></td>
        </tr> -->
        <tr>
          <td><img src='./assets/icons/adoption-w.png' alt="adoption"></td>
          <td innerHtml="{{ 'creation.line7' | translate }}"></td>
        </tr>
        <tr>
          <td><img src='./assets/icons/value-w.png' alt="value"></td>
          <td innerHtml="{{ 'creation.line8' | translate }}"></td>
        </tr>
      </table>
    </app-info>
    <app-info headline="{{ 'embedding.title' | translate }}"
        [img2]="'./assets/programma-' + trans.currentLang + '.png'">
      <p innerHtml="{{ 'embedding.desc' | translate }}"></p>
    </app-info>
  </div>
</div>