<div class="aboutwrapper" id="about">
  <h1>{{ 'about.it2benefit' | translate}}</h1>
  <app-info cls="img3" headline="{{ 'about.title' | translate }}" img="./assets/bg/bg1.jpg"
    [img2]="'./assets/gap-' + trans.currentLang + '.png'">
    <p innerHtml="{{ 'about.subtitle' | translate }}"></p>
    <p innerHtml="{{ 'about.desc' | translate }}"></p>
  </app-info>
  <p>&nbsp;</p>
  <app-info cls="img3" even="true" headline="{{ 'meta.title' | translate }}" img="./assets/bg/bg1.jpg"
    [img2]="'./assets/meta-' + trans.currentLang + '.png'">
    <p innerHtml="{{ 'meta.desc' | translate }}"></p>
  </app-info>
  <p id="oprichters">&nbsp;</p>
  <h2>{{ 'about.oprichters' | translate }}</h2>
  <p>{{ 'about.oprichting' | translate }}</p>
  <app-info headline="Herco van Brug" cls="skip" 
    [_img2]="'./assets/herco.png'">
    <p innerHtml="{{ 'about.herco' | translate }}"></p>
  </app-info>
  <app-info headline="Steven Habes" even="true" cls="skip" 
    [_img2]="'./assets/steven.png'">
    <p innerHtml="{{ 'about.steven' | translate }}"></p>
  </app-info>
</div>
