<div class="article-wrapper">
  <a pageScroll routerLink="/blog" href="#blog">&lt; {{ 'blogs.back' | translate }}</a>
  <h1>{{post && post.title ? post.title.rendered : "..."}}</h1>
  <div [innerHtml]="post.content.rendered | sanitizeHtml" *ngIf="post && post.content"></div>
  <p *ngIf="post && post.date">{{post.date | date:'longDate'}}</p>
  <app-sharing [href]="postSlug" [title]="post.title.rendered"></app-sharing>
</div>