@import "../../../mycolors.scss";

.alignright {
  float: right;
  margin: 32px 0 32px 22px; 
}
.has-large-font-size {
  color: white;
  font-size: 2rem;
  padding: 2rem;
}
.article-wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
  padding-bottom: 56px;
}
.wp-block-cover__inner-container {
  text-align: center;
}
.has-large-font-size {
  font-size: 3rem;
  vertical-align: middle;
}
h2,
h3 {
  line-height: 3rem;
  padding-top: 1rem;
}
.has-background-dim {
  background-size: cover;
  background-color: $donker;
}
.has-background-dim::before {
  opacity: 0.5;
}
blockquote {
  text-align: center;
  font-size: 1.6rem;
  font-style: italic;
  border-top: 1px solid $accent;
  border-bottom: 1px solid $accent;
}
.filler {
  float: left !important;
}