#top {
  min-height: 100vh;
  width: 100vw;
  align-content: stretch;
  display: grid;
  grid-gap: 0;
  padding-right: 1rem;
  grid-template-rows: minmax(50vh, auto) auto minmax(256px, auto) auto;
  grid-template-columns: 1fr minmax(250px, 640px) minmax(250px, 640px) 1fr;
  grid-template-areas:
    "hero hero hero hero"
    ". methode methode ."
    "contact contact filler filler";
}
app-hero {
  grid-area: hero;
}
app-methode {
  grid-area: methode;
}
app-contact {
  grid-area: contact;
}
app-filler {
  grid-area: filler;
}
@media (max-width: 757px) {
  #top {
    grid-template-columns: auto;
    grid-template-areas: "hero" "methode" "contact";
    padding: 0;
  }
  app-filler {
    display: none;
  }
}
