// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cssgrid-primary: mat-palette($mat-indigo);
$cssgrid-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$cssgrid-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$cssgrid-theme: mat-light-theme($cssgrid-primary, $cssgrid-accent, $cssgrid-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cssgrid-theme);

// @import "../node_modules/bulma/sass/utilities/_all.sass";
// @import "../node_modules/bulma/sass/base/_all.sass";
// @import "../node_modules/bulma/sass/elements/button.sass";
// @import "../node_modules/bulma/sass/elements/container.sass";
// @import "../node_modules/bulma/sass/elements/form.sass";
// @import "../node_modules/bulma/sass/elements/title.sass";
// @import "../node_modules/bulma/sass/components/navbar.sass";
// @import "../node_modules/bulma/sass/layout/hero.sass";
// @import "../node_modules/bulma/sass/layout/section.sass";
// @import "../node_modules/bulma/sass/grid/columns.sass";
$navbar-breakpoint: 1013px;
@import "../node_modules/bulma/bulma.sass";

@import "./mycolors.scss";

// @font-face {
//   font-family: "Maven Pro";
//   src: url("/assets/fonts/MavenPro-Regular.ttf") format("woff2");
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Maven Pro", Fallback, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4rem;
  color: $donker;
}
.dark {
  color: $donker;
}
.highlight {
  color: $accent;
}
h1 {
  text-align: center;
  font-size: 3rem;
  line-height: 3rem;
  color: $accent;
  padding: 2rem;
}
h2 {
  text-align: center;
  font-size: 2.5rem;
  line-height: 2.4rem;
  color: $accent;
  font-weight: 600;
}
h3 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 2rem;
}
h4 {
  font-size: 1.5rem;
}
p {
  padding: 12px;
}
ol {
  counter-reset: li;
  margin-left: 0;
  padding-left: 0;
}
ol > li {
  position: relative;
  margin: 0 0 6px 2em;
  padding: 4px 8px;
  list-style: none;
}
ol > li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2em;
  width: 2em;
  margin-right: 8px;
  padding: 4px;
  color: #fff;
  background: $accent;
  font-weight: bold;
  text-align: center;
}
html,
body {
  height: 100%;
}
@media (max-width: 757px) {
  h1 {
    font-size: 2.4rem;
    line-height: 2.2rem;
  }
}

.webp .bg1 {
  background-image: url("/assets/bg/bg1.webp");
}
.no-webp .bg1 {
  background-image: url("/assets/bg/bg1.jpg");
}
.webp .bg2 {
  background-image: url("/assets/bg/bg2.webp");
}
.no-webp .bg2 {
  background-image: url("/assets/bg/bg2.jpg");
}
.webp .bg3 {
  background-image: linear-gradient(rgba(#000, 0.6), rgba(#000, 0.6)), url("/assets/bg/bg3.webp");
}
.no-webp .bg3 {
  background-image: linear-gradient(rgba(#000, 0.6), rgba(#000, 0.6)), url("/assets/bg/bg3.jpg");
}
.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
