@import "../../../mycolors.scss";

.info {
  padding: 12px;
  color: white;
  background-color: #333;
  display: grid;
  grid-template-columns: [image-start] 2vw 1fr 2vw [image-end];
  grid-template-rows: [image-start] 10vh auto auto 10vh [image-end];
  grid-template-areas: ". . ." ". headline ." ". text . " ". . .";
}
// .textwrapper {
//   background: #ddd;
//   height: 100%;
// }
.imagewrapper {
  height: 100%;
}
.headline {
  z-index: 10;
  grid-area: headline;
  align-self: end;
  text-align: center;
  padding-bottom: 24px;
}
.text {
  z-index: 10;
  grid-area: text;
}
.image {
  z-index: 0;
  grid-area: image;
  -ms-grid-area: 4 4;
  align-self: stretch;
  object-fit: cover;
  mix-blend-mode: overlay;
}
.img2 {
  // visibility: hidden;
  padding: 24px;
  -webkit-filter: drop-shadow(8px 5px 11px #222);
  filter: drop-shadow(8px 5px 11px #222);
}
.img3 {
  // visibility: hidden;
  padding: 80px;
  -webkit-filter: drop-shadow(8px 5px 11px #222);
  filter: drop-shadow(8px 5px 11px #222);
}
@media screen and (max-width: 960px), (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .info { 
    opacity: 0.8;
    color: $donker;
    background-color: white;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "headline" "image" "text";
  }
  .image {
    visibility: visible;
    width: 90vw;
    max-width: 512px;
    margin: -1rem auto auto auto;
    mix-blend-mode: unset;
  }
}
@media (min-width: 960px) { 
  .img2 {
    visibility: visible;
    margin-top: 96px;
  }
  .img3 {
    visibility: visible;
  }
  .info {
    background-color: transparent; // Turns background color off
    color: $donker; // Inverts text color
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "........ image"
      "headline image"
      "text     image"
      "........ image";
    grid-column-gap: 24px;
    text-align: left;

    &.even {
      grid-template-areas:
        "image ."
        "image headline"
        "image text"
        "image .";
    }
    .image {
      object-fit: contain;
      mix-blend-mode: normal;
    }
  }
}
