<div class="info" [ngClass]="{ 'even' : even }">
  <div class="image imagewrapper" [ngClass]="{'bg bg1': _jpg}">
    <picture *ngIf="_jpg">
      <source [srcset]="_webp" type="image/webp">
      <source [srcset]="_jpg" type="image/jpeg"> 
      <img [src]="_jpg" [alt]="alt" [class]="cls">
    </picture>
    <img *ngIf="!_jpg" [src]="_img2" [alt]="img2" [class]="cls">
  </div>
  <h3 class="headline">{{headline}}</h3>
  <div class="text">
    <ng-content class="text"></ng-content>
  </div>
</div>