.blog-wrapper {
    max-width: 1280px;
    margin: 2rem auto;
}
.bloglist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}
