<div class="blog-wrapper">
  <h1>{{ 'blogs.title' | translate }}</h1>
  <div class="bloglist">
    <div *ngFor="let post of posts">
      <app-card title="{{ post.title.rendered }}" date="{{ post.date | date }}"
        img="{{ post['_embedded']['wp:featuredmedia']?post['_embedded']['wp:featuredmedia'][0].source_url:'' }}"
        excerpt="{{ post.excerpt.rendered }}" link="{{ post.slug }}">
      </app-card>
    </div>
    <div *ngIf="posts.length<1">Loading blogs...</div>
  </div>
</div>